<div class="card mt-5" style="max-width: 600px">
  <div class="card-header">
    List of articles:
  </div>
  <div class="card-body">
    <% @articles.each do |article| %>
      <h5 class="card-title">
        <%= link_to article.title, article, class: "btn btn-outline-dark" %>
      </h5>
    <% end %>
  </div>
</div>

<%= link_to "New Article", new_article_path, class: "btn btn-outline-primary mt-3 text-align-center" %>

